.topo-container {margin-bottom: 70px; height: auto;}
.topo-container .navbar {margin-bottom: 0 !important;;}

.navbar-brand { padding: 0 !important;  }
.navbar-brand img {margin-right: 6px !important;}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 0px none;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.rodape-container  {height: auto; background: #3f3f3f; }
.rodape-container .container { margin: 0 auto; color: #ffffff; margin-bottom:5px; }
.rodape-container .row {margin-bottom: 4px !important;}
.rodape-container .copyright p {text-align: center; font-size: 13px; padding-top: 10px;}
.rodape-container .media-social p {text-align: center; font-size: 13px;}
.rodape-container .media-social p a img:hover { opacity:0.4;}