
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 0px none;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.rodape-container  {height: 70px; background: #3f3f3f; }
.rodape-container .container { margin: 30px auto; color: #ffffff; padding: 15px;}
.rodape-container .container p {text-align: left; line-height: 35px; font-size: 13px;}
.rodape-container .container p a img:hover { opacity:0.4;}